{% extends 'print.html.twig' %}

{% block meta %}
    <meta name="generator" content="LibreOffice 6.0.7.3 (Linux)"/>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        @page {
            margin-left: 0.64cm;
            margin-right: 0.64cm;
            margin-top: 0.64cm;
            margin-bottom: 1.45cm
        }

        p {
            margin-top: 0cm;
            margin-bottom: 0cm;
            line-height: 120%
        }

        td p {
            margin-bottom: 0cm
        }
    </style>
{% endblock %}

{% block body %}
    <table width="100%" cellpadding="4" cellspacing="0">
        <col width="33%">
        <col width="33%">
        <col width="33%">
        <tr valign="top">
            <td width="33%"
                style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p>Geesys DTS</p>
            </td>
            <td width="33%"
                style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
                <p>Поручние №XXXX к Заявке №YYYY</p>
            </td>
            <td width="33%" style="border: 1px solid #000000; padding: 0.1cm">
                <p>От 01.01.2018</p>
            </td>
        </tr>
    </table>
    <p align="center" style="margin-top: 0cm; margin-bottom: 0cm; line-height: 100%">Реквизиты сторон</p>
    <table width="100%" cellpadding="4" cellspacing="0">
        <col width="256*">
        <tr>
            <td width="100%" valign="top" style="border: 1px solid #000000; padding: 0.1cm">
                <p align="left" style="margin-bottom: 0cm">
                    <font color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font size="3" style="font-size: 12pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <b>Заказчик:</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font color="#000000">
                        <font face="TimesNewRomanPSMT, serif">
                            <font size="3" style="font-size: 12pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <span style="font-weight: normal">
			</span>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font color="#000000">
                        <font face="TimesNewRomanPSMT, serif">
                            <font size="2" style="font-size: 10pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <span style="font-weight: normal">
                                            ООО «Сила», ИНН 77777777 КПП 777777777, 105111, Москва,
			Рублевское шоссе,  д.32,к.2, оф.777
                                        </span>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                </p>
                <p align="left" style="margin-bottom: 0cm">
                    <font color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font
                                    size="2" style="font-size: 11pt">
                                <span style="letter-spacing: normal">
                                    <span
                                            style="text-decoration: none">
                                        <b>Агент</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font
                            color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font size="2"
                                  style="font-size: 10pt">
                                <span
                                        style="letter-spacing: normal">
                                    <span
                                            style="text-decoration: none">
                                        <b>:</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font
                            color="#000000">
                        <font
                                face="TimesNewRomanPSMT, serif">
                            <font size="2" style="font-size: 10pt">
                                <span
                                        style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <span
                                                style="font-weight: normal">
			ООО «Джи Системс», ИНН 77777777 КПП
			777777777, 143355, Московская область,
			Балашихинский район, мкр. Янтарный,
			ул. Кольцевая, д.10, к.3, оф.2
                                        </span>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                </p>
                <p align="left">
                    <font color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font size="2" style="font-size: 11pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <b>Исполнитель</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font color="#000000">
                        <font face="TimesNewRomanPS-BoldMT, serif">
                            <font size="2" style="font-size: 10pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none">
                                        <b>:</b>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                    <font color="#000000">
                        <font face="TimesNewRomanPSMT, serif">
                            <font size="2" style="font-size: 10pt">
                                <span style="letter-spacing: normal">
                                    <span style="text-decoration: none"><span style="font-weight: normal">
			ООО «Джи Системс», ИНН 77777777 КПП
			777777777, 143355, Московская область,
			Балашихинский район, мкр. Янтарный,
			ул. Кольцевая, д.10, к.3, оф.2
                                        </span>
                                    </span>
                                </span>
                            </font>
                        </font>
                    </font>
                </p>
            </td>
        </tr>
    </table>

{% endblock %}
