<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body  lang="ru-RU" dir="ltr">
        {% block body %}{% endblock %}
    </body>
</html>
